---
import BaseLayout from "../layouts/BaseLayout.astro"
import ContentOverview from "../components/ContentOverview.svelte"
import { getCollection } from 'astro:content';

const reviews = await getCollection('reviews');
const posts = await getCollection('posts');
const allEntries = [...reviews, ...posts].sort(
    (a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime(),
);
---
<BaseLayout title="All posts & reviews" description="View all content available on Beku.blue.">
    <main class="height-smart-fill-screen base-layout margin-inline-auto">
        <h1 class="visually-hidden">All blog posts and game reviews on beku.blue</h1>
        <div style="padding-bottom: var(--space-xl);">
            <ContentOverview client:load {allEntries}/>
        </div>

    </main>
</BaseLayout>