---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="All about Games | Beku.blue" description="All about games. Finding high quality video games for you.">
	<div>
		<h1>Hi there</h1>
		<p>Now it is time to build!</p>
		<h2>Featured Article</h2>
		<h2>Latest Articles</h2>
	</div>
</BaseLayout>
