---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import CultOfTheLamb from "../assets/images/game-headers/Cult-Of-The-Lamb-Header.jpg";
import Terraria from "../assets/images/game-headers/Terraria-Header.jpg";
import DomeKeeper from "../assets/images/game-headers/Dome-Keeper-Header.jpg";
import GameCard from "../components/GameCard.astro";
---

<BaseLayout
	title="All about Games | Beku.blue"
	description="All about games. Finding high quality video games for you."
>
	<main class="base-layout">
		<div class="main-content-container">
			<h1 class="visually-hidden">Beku.blue game review articles</h1>
			<article class="featured-article">
				<Image src={CultOfTheLamb} alt="Cult of the lamb game header" class="game-header"/>
				<div class="flow">
					<h2>Cult of the Lamb</h2>
					<p>How good is this cute cult growing hit?</p>
					<a href="#">Read more</a>
				</div>
			</article>
			<h2>Latest Reviews</h2>
			<GameCard title="Terraria" description="Terria is the best 2d sandox for more than a decade?" link="/terraria"/>
			<article>
				<Image src={DomeKeeper} alt="Dome Keeper game header" class="game-header"/>
				<h3>Dome Keeper</h3>
				<p>Protect yourself. Part of the humble bundle.</p>
			</article>
		</div>
	</main>
</BaseLayout>

<style>
	@import "../styles/media-queries.css";

	.main-content-container {
	}

	.featured-article {
		display: flex;
		flex-wrap: wrap;
	}
	.game-header {
		object-fit: cover;
	}

	@media (--viewport-s) {
		.featured-article {
			/*flex-direction: column-reverse;*/
		}
	}
</style>
