---
interface Props {
    title: string;
    href: string;
    size?: string;
    inlineAuto?: boolean;
}

const { title, href = "#", size, inlineAuto = false } = Astro.props;
---

<a href={href} class={inlineAuto ? 'center' : ''}>
    <div>
        <p>{title}</p>
    </div>
</a>

<style define:vars={{ "button-size": size }}>
    div {
        padding: 0.75rem;
        border: 1px solid var(--color-neutral-500);
    }
    a {
        text-decoration: none;
        display: block;
        width: fit-content;
    }
    a.center {
        margin-inline: auto;
    }
    a:hover,
    a:focus-within {
    }
    a div p {
        font-size: var(--font-size-large);
    }
</style>
