---
import { Image } from "astro:assets";
import Logo from "../assets/images/BekuBlueFishLogo.svg";
---

<header>
    <Image src={Logo} alt="Beku.blue fish logo" height="25" width="25" class="logo"/>
    <nav class="primary-navigation">
        <ul role="list">
            <li><a href="#">Game Reviews</a></li>
            <li><a href="#">Design</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </nav>
</header>

<style is:global>
    @import "../styles/media-queries.css";


    .logo {
        margin-left: 0.25rem;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-inline: auto;
        max-width: var(--base-layout-max-width);
        padding-inline: var(--side-gap-padding);
        padding-block: var(--space-xs);
        height: 50px;
        border: 1px solid red;
    }
    .primary-navigation ul {
        display: flex;
        & li a {
            padding: var(--space-s);
            color: var(--color-neutral-300);
            text-decoration: none;
            &:hover,
            &:focus-within {
                color:  var(--color-accent-100);
                background-color: var(--color-neutral-700);
            }
        }
    }
    @media (--viewport-s) {
        header {
        }
    }
</style>
